<section>
    <h1 class="text-main text-center my-2">Forgot Password</h1>

    @if (step == 1) {
        <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()">
            <div class="my-2">
                <label for="email">Email</label>
                <input formControlName="email" id="email" type="email" class="form-control">
    

                @if ((verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty) && verifyEmail.get('email')?.errors) {
                    <div class="alert alert-danger w-50">
                        @if (verifyEmail.get('email')?.getError('required')) {
                            <p class="m-0">Email Is Required</p>
                        }
                        @else if (verifyEmail.get('email')?.getError('email')) {
                            <p class="m-0">Invalid Email</p>
                        }
                    </div>
                }

            </div>
            
            <button [disabled]="verifyEmail.invalid" class="btn-main my-2">Verify Email</button>
        </form>
    }


    @else if (step == 2) {
        <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyCodeSubmit()">
            <div class="my-2">
                <label for="code">Code</label>
                <input [ngClass]="{
                    'is-valid': !verifyCode.get('code')?.errors && (verifyCode.get('code')?.touched || verifyCode.get('code')?.dirty),
                    'is-invalid': verifyCode.get('code')?.errors && (verifyCode.get('code')?.touched || verifyCode.get('code')?.dirty)
                }" formControlName="resetCode" id="code" type="text" class="form-control">


                @if ((verifyCode.get('code')?.touched || verifyCode.get('code')?.dirty) && verifyCode.get('code')?.errors) {
                    <div class="alert alert-danger w-50">
                        @if (verifyCode.get('code')?.getError('required')) {
                            <p class="m-0">Code Is Required</p>
                        }
                        @else if (verifyCode.get('code')?.getError('pattern')) {
                            <p class="m-0">Invalid Code</p>
                        }
                    </div>
                }
    
            </div>
    
            <button [disabled]="verifyCode.invalid" class="btn-main my-2">Verify Code</button>
        </form>
    }


    @else if (step == 3) {
        <form [formGroup]="verifyPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="resetPasswordSubmit()">
            <div class="my-2">
                <label for="email">Email</label>
                <input readonly [ngClass]="{
                    'is-valid': !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty),
                    'is-invalid': verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
                }" formControlName="email" id="email" type="email" class="form-control"> 
                
                
                @if ((verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty) && verifyEmail.get('email')?.errors) {
                    <div class="alert alert-danger w-50">
                        @if (verifyEmail.get('email')?.getError('required')) {
                            <p class="m-0">Email Is Required</p>
                        }
                        @else if (verifyEmail.get('email')?.getError('email')) {
                            <p class="m-0">Invalid Email</p>
                        }
                    </div>
                }
            </div>
    
            <div class="my-2">
                <label for="password">New Password</label>
                <input [ngClass]="{
                    'is-valid': !verifyPassword.get('password')?.errors && (verifyPassword.get('password')?.touched || verifyPassword.get('password')?.dirty),
                    'is-invalid': verifyPassword.get('password')?.errors && (verifyPassword.get('password')?.touched || verifyPassword.get('password')?.dirty)
                }" formControlName="newPassword" id="password" type="password" class="form-control">


                @if ((verifyPassword.get('password')?.touched || verifyPassword.get('password')?.dirty) && verifyPassword.get('password')?.errors) {
                    <div class="alert alert-danger w-50">
                        @if (verifyPassword.get('password')?.getError('required')) {
                            <p class="m-0">Password Is Required</p>
                        }
                        @else if (verifyPassword.get('password')?.getError('pattern')) {
                            <p class="m-0">Invalid Password</p>
                        }
                    </div>
                }
            </div>
    
            <button [disabled]="verifyPassword.invalid" class="btn-main my-2">Verify Password</button>
        </form>
    }


</section>