<div [class.d-none]="wishListDetails.length>0" class="text-center start-0 end-0  position-fixed z-n1">
    <i class="fs-1 fa-regular fa-face-smile"></i>
    <p>NO PRODUCTS GO BACK AND GET ONE</p>
</div>



<section [class.d-none]="wishListDetails.length==0">

    <h1 class="fw-bolder text-main">MY CART :</h1>
   
    @for (item of wishListDetails ; track item.id) {
        <div class="my-2">
            <div class="bg-main-light rounded-4 p-4 shadow d-flex">
                <div class="me-2">
                    <img [src]="item.imageCover" class="cart-img w-100 rounded" [alt]="item.title">
                </div>

                <div class="ms-2 d-flex flex-column justify-content-between">
                    <h3>{{item.title}}</h3>
                    <span class="my-3 text-muted">Price : {{item.price | currency : 'GBP'}}</span>
                    
                    <div class="d-flex">
                        <button (click)="removeProductToWishList(item.id)" class="btn btn-danger me-2">
                            <i class="fa-solid fa-trash-can"></i>
                            Remove
                        </button>
                        <button (click)="addToCart(item.id)" class="btn-main">
                            <i class="fa-solid fa-cart-plus"></i>
                            + Add To Cart
                        </button>
                    </div>
                      
                </div>

            </div>
        </div>
    }

   
    

</section>