
<section>
    <div class="row g-0 my-2">
        <div class="col-md-10">
            <div>

                <owl-carousel-o [options]="customOptionsMain">
                    <ng-template carouselSlide>
                        <img src="./assets/images/img1.avif" height="300px" class="w-100" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="./assets/images/img2.avif" height="300px" class="w-100" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="./assets/images/img3.avif" height="300px" class="w-100" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="./assets/images/img4.avif" height="300px" class="w-100" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="./assets/images/img5.avif" height="300px" class="w-100" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="./assets/images/img6.avif" height="300px" class="w-100" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="./assets/images/img7.avif" height="300px" class="w-100" alt="">
                    </ng-template>  
                    
                  </owl-carousel-o>

                
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <img src="./assets/images/grocery-banner.png" height="150px" class="w-100" alt="">
                <img src="./assets/images/grocery-banner-2.jpeg" height="150px" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>

<!--! Categories -->

<section class="my-2">
    <h2 class="text-main border-top border-bottom py-2">Popular Categories : </h2>

    <owl-carousel-o [options]="customOptionsCat">

        @for (cat of categoriesList; track cat._id) {
            <ng-template carouselSlide>
                <div>
                    <img [src]="cat.image" height="250px" class="w-100" [alt]="cat.name">
                    <h3 class="h6 text-main">{{cat.name}}</h3>
                </div>
            </ng-template>
        }
    
      </owl-carousel-o>
</section>



<!--! products -->

<section>
    <h2 class="text-main border-top border-bottom py-2">Popular Products : </h2>

    <input [(ngModel)]="text" type="search" placeholder="Search By Name ......." class="w-50 form-control mx-auto my-3">

    <div class="row g-4 my-5">
        
        @for (product of productsList.slice(0,16).reverse()| search : text ; track product.id) {
            <div class="col-md-3">
                <div class="product p-2 position-relative cursor-pointer">
                    <span class="text-main btn wish w-100 fs-2 position-absolute top-0 z-3" (click)="addToWishList(product.id)"><i class="fa-regular fa-heart"></i></span>
                    <div [routerLink]="['/details' , product.id]">
                        <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                        <h3 class="small text-main"> {{product.category.name | sale}} </h3>
                        <h4 class="h6"> {{product.title | termtext : 2}} </h4>
        
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{product.price | currency : 'GBP'}}</span>
        
                            <div>
                                
                                @for (num of [1,2,3,4,5].slice(0 , product.ratingsAverage) ; track $index) {
                                    <span> <i class="fas fa-star rating-color fs-6"></i> </span>
                                }
                                @if ( product.ratingsAverage%1 != 0 ) {
                                    <i class="fa-solid fa-star-half-stroke rating-color"></i>
                                }
    
                                <span class="text-muted fs-6">{{product.ratingsAverage}}</span>
                            </div>
                        </div>
                    </div>

                    
                    <button class="btn-main w-100" (click)="addToCart(product.id)">Add To Cart</button>

                </div>
            </div>
        }

    </div>
</section>