<section class="bg-main-light shadow rounded-4 p-2 my-2">
    <h1 class="h2 text-main">login Now :</h1>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        
        <div class="my-2">
            <label for="email">email</label>
            <input [ngClass]="{
                'is-valid': !loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                'is-invalid': loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
            }" formControlName="email" id="email" type="email" class="form-control ">


            @if ((loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && loginForm.get('email')?.errors) {
                <div class="alert alert-danger w-50">
                    @if (loginForm.get('email')?.getError('required')) {
                        <p class="m-0">Email Is Required</p>
                    }
                    @else if (loginForm.get('email')?.getError('email')) {
                        <p class="m-0">Invalid Email</p>
                    }
                </div>
            }

        </div>
       
        <div class="my-2">
            <label for="password">password</label>
            <input [ngClass]="{
                'is-valid': !loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                'is-invalid': loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
            }" formControlName="password" id="password" type="password" class="form-control ">

            @if ((loginForm.get('password')?.touched || loginForm.get('password')?.dirty) && loginForm.get('password')?.errors) {
                <div class="alert alert-danger w-50">
                    @if (loginForm.get('password')?.getError('required')) {
                        <p class="m-0">password Is Required</p>
                    }
                    @else if (loginForm.get('password')?.getError('pattern')) {
                        <p class="m-0">Invalid password</p>
                    }
                </div>
            }

        </div>

        <div class="d-flex align-items-center justify-content-end gap-4">
            <a routerLink="/forgot" class="link-primary">Forgot Password</a>

        <button  class="btn-main">login 
            @if (isLoading) {
                <span class="fas fa-spin fa-spinner"></span>
            }
        </button>
        </div>
        
        @if (errMassage) {
            <p class="alert alert-danger w-50 mt-2 m-0">{{errMassage}}</p>
        }
        
        @if (success) {
            <p class="alert alert-success text-center my-2">Success</p>
        }

    </form>
    
</section>